@font-face {
    font-family: "Lato-bold";
    src: url("../fonts/latobold.eot");
    src: url("../fonts/latobold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/latobold.woff") format("woff"),
    url("../fonts/latobold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-regular";
    src: url("../fonts/latoregular.eot");
    src: url("../fonts/latoregular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/latoregular.woff") format("woff"),
    url("../fonts/latoregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFDin";
    src: url("../fonts/PFDinTextCondPro-Regular.eot");
    src: url("../fonts/PFDinTextCondPro-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFDinTextCondPro-Regular.woff") format("woff"),
    url("../fonts/PFDinTextCondPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Karla";
    src: url("../fonts/karla.eot");
    src: url("../fonts/karla.eot?#iefix")format("embedded-opentype"),
    url("../fonts/karla.woff") format("woff"),
    url("../fonts/karla.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}